<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta property="og:image" content="https://i.ibb.co/M8S0Zzj/live-streaming.png" itemprop="thumbnailUrl">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>%s</title>
    <link rel="stylesheet" type='text/css' href="https://drive----google.com/uc?export=view&id=1pVLG4gZy7jdow3sO-wFS06aP_A9QX0O6">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Delius">
    <link rel="stylesheet" href="https://cdn.plyr.io/3.7.8/plyr.css" />


<style>
      marquee{
      font-size: 30px;
      font-weight: 800;
      color: Blue;
      font-family: sans-serif;
      }
    </style>
    <style>
      marquee{
      font-size: 30px;
      font-weight: 800;
      color: Blue;
      font-family: sans-serif;
      }
    </style>
</head>

<body>
	
    <header>
        <marquee bgcolor="#fffffc"
<div class="toogle"></div>
        <div id="file-name">
            %s
        </div>
</marquee>
    </header>

    <div class="container">
        <tag src="%s" class="player"></tag>
    </div>

    <footer>
	    </div>
            <div class="justify-content-center align-items-center w-100 d-flex mb-3">
                <div class="row d-flex w-100 justify-content-center align-items-center">
                    <div class="col-lg-8 col-10  py-2 text-center bg-danger rounded-4 text-sm wow animate__animated animate__FadeIn">
                            Video not playing ? possibly because your browser or the player doesn't support codec please download and watch.
                    </div>
	    
    </footer>
    <script src="https://cdn.plyr.io/3.7.8/plyr.js"></script>
	<script>
        const controls = [
              'play-large',
              'rewind',
              'play', 
              'fast-forward', 
              'progress', 
              'current-time',
              'duration',
              'mute',
              'airplay',
              'download',
              'fullscreen'
            ];
        document.addEventListener('DOMContentLoaded', () => {
            const player = Plyr.setup('.player', { controls });
        });

        const body = document.querySelector('body');
        const footer = document.querySelector('footer');
        const toogle = document.querySelector('.toogle');
    </script>
</body>
</html>
